html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.photo-card {
  display: block;
  position: relative;
  height: 309px;
  margin-right: 20px;
  margin-bottom: 20px;

  box-shadow: -1px 6px 16px 1px rgba(114, 114, 114, 0.75);
  -webkit-box-shadow: -1px 6px 16px 1px rgba(114, 114, 114, 0.75);
  -moz-box-shadow: -1px 6px 16px 1px rgba(114, 114, 114, 0.75);
}

.photo-card:nth-child(4n+4) {
  margin-right: 0;

}

.button.is-hidden {
  display: none;
}

.stats {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.stats-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.stats-item:nth-child(-n+3) {
  margin-right: 20px;
}

.material-icons {
  display: flex;
  justify-content: center;
}
